<% if @single_room && @single_room.participant?(@single_room,user) %>
  <% isActive = 'active'%>
  <%else%>
  <% isActive = ''%>
  <%end%>


<li class ="relative block py-3 px-6 -mb-px border border-r-0 border-l-0 border-gray-300 no-underline flex items-center justify-between user_list_item<%= isActive%>">
<div class = 'icon-container'>
  <%= link_to image_tag(user.avatar.variant(resize_to_limit: [100, 100]),class: 'chat_pfp'),user%>
  <%= turbo_stream_from "user_status"%>

  <div>
  <%= render "users/status",user: user%>
  </div>
</div>
<%= link_to user.email,user,class: 'ms-2 me-auto username',data: {turbo: "false"},class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600"%>
</li>